<%= form_for @new_post do |f| %>
  <div class="field">
    <%= f.text_area :content, class: "tweet", placeholder: "What's happening?" %>
  </div>
  <hr/>
  <div class="actions">
    <%= f.submit "Tweet", class: "tweet-btn btn btn-primary" %>
  </div>
<% end %>