<div class="row" style="margin-top: 10px">
  <div class="col-3">
    <div class="card">
      <div class="card-body">stats</div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">feed</div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">about</div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="col-3">
    <div class="card">
      <div class="card-body">trends</div>
    </div>
  </div>
</div>