<style>
    .tweet-card {

    }

    .tweet {
        width: 200%;
        border-style: none;
    }

    .tweet-btn {
        background-color: #1DA1F2;
        border-radius: 50px;
    }
</style>
<div class="row" style="margin-top: 10px">
  <div class="col-12">
    <div class="jumbotron">
      <%= @username %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">Profile</div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body row">
        <img src="/user.png" style="height: 40px; width: 40px; border-radius: 50px; margin-left: 15px">
        <span style="margin-left: 5%;"><%= render 'components/tweet' %></span>
      </div>
      <br/>
    </div>
    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-body">
          <%= post.content %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">Who to follow</div>
    </div>
    <div class="card">
      <div class="card-body">trends</div>
    </div>
  </div>
</div>

